@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* For adding font */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    /* font-style: normal; */
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

.body {
    background-position: center;
}

/* Hero Styles */
#hero {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../images/BannerImage.png");
    height: 815px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

#hero .hero-elements .hero-subtitle {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-elements .hero-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
}

#hero .hero-elements {
    width: 632px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}

/* category styles */

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category .category-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 90px;
}

.category .category-description {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 36px;
}

.category .category-subtitle {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 12px;

}

.category .category-img {
    padding-top: 36px;
    width: 602px;
    height: 375px;
    padding-bottom: 90px;
}

/* Party section style */

.party {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("/images/Vectorrr.png");
    height: 815px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;

}

.party-elements {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* .party-content{
    display: flex;
    flex-direction: column;
} */

.party-elements .party-content h1 {
    color: rgb(255, 255, 255);
    /* font-family: Merriweather; */
    font-size: 48px;
    /* font-weight: 900; */
    line-height: 66px;
    letter-spacing: 11%;
    text-align: left;
    width: 482px;
    height: 132px;
    margin-top: 95px;
    margin-left: 95px;
}


.party-elements .party-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    width: 697px;
    margin-top: 18px;
    margin-left: 95px;


}

.party-elements .party-content .party-btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    width: 77px;
    margin-top: 36px;
    margin-left: 118px;
}

.party-elements .party-pic {
    margin-top: 78px;
    align-items: center;
    width: 500px;
    height: 500px;





}

/* hero-2 styles */

.hero-2 {
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.hero-2 .hero-2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 5%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 100px;
    padding-bottom: 120px;

}

.hero-2 .hero-2-content span {
    color: rgb(255, 0, 0);

}

.hero-2 .hero-2-content button {
    border-radius: 8px;

    background: rgb(255, 0, 0);
    width: 167px;
    height: 56px;
    gap: 10;
    padding: 16px 32px 16px 32px;

    /* text */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 48px;
}

.hero-3 {
    width: 1320px;
    height: 463px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
}

.hero-3-elements {
    display: flex;
    justify-content: space-between;

}

.hero-3-elements .hero-3-header .hero-3-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 78px;

}

.hero-3-elements .hero-3-header {
    width: 393px;
    height: 255px;
}

.hero-3-elements .hero-3-header .hero-3-subtitle {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-top: 16px;

}

.hero-3-elements .hero-3-header .hero-3-descrip {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 104px;
}

.hero-3-elements .hero-3-footer .footer-head {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 112px;
    margin-right: 149px;
}

.hero-3-elements .hero-3-footer .footer-subtitle {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    width: 279px;
    margin-top: 16px;
}

.hero-3-elements .hero-3-picture .hero-3-pic {
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 49px;
    margin-left: 70px;
    margin-right: 118px;

}

.hero-3-elements .hero-3-footer .footer-pic {
    width: 140px;
    height: 140px;
    margin-top: 46px;
    padding-bottom: 120px;

}